<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/header', { title: 'Login' }) %>
  </head>
  <body>
    <div class="container">
      <div>
        <h1>Account</h1>
        <div>
          <div id="username"></div>
          <button class="btn btn-danger" id="button__logout">Logout</button>
        </div>
      </div>
    </div>
    <%- include('partials/footer') %>
    <script>
      $(document).ready(function () {
        const userData = JSON.parse(localStorage.getItem('login-user'))

        if (!userData) {
          window.location.href = 'login'
        }

        const labelUsername = $('#username')
        labelUsername.html(userData.data.Email)

        const buttonLogout = $('#button__logout')
        buttonLogout.on('click', function (e) {
          localStorage.clear()
          window.location.reload()
          window.location.href = 'login'
          e.stopPropagation()
        })
      })
    </script>
  </body>
</html>
