<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/header', { title: 'Car Rental - Home' }) %>
  </head>
  <body>
    <div id="app">
      <div class="container"><%- include('./partials/navbar.ejs') %></div>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
