<nav class="nav">
  <div class="nav__brand">
    <a href="/">Car Rental</a>
  </div>
  <div class="nav__menu">
    <ul>
      <li><a href="/">Browse Cars</a></li>
      <li><a href="/rental">Rent List</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/account">Account</a></li>
    </ul>
  </div>
</nav>
